# =========================
# Build output
# =========================
build/
out/
target/

# =========================
# Gradle
# =========================
.gradle/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.idea/
*.iml
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Misc
# =========================
hs_err_pid*

